{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
		<meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
		<link rel="stylesheet" href="https://fireandise.cisco.com/commonbeta/cisco/css/cisco-atomic-ui.dev.css">
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/popper.min.js"></script>
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/bootstrap-table.min.js"></script>
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/bootstrap-table-filter-control.min.js"></script>
		<script type="text/javascript" src="https://fireandise.cisco.com/commonbeta/js/bootbox.min.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .footer {
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;            
            }
        </style>
        <title>SAO</title>
        <link rel="stylesheet" href="{% static 'css/cui-standard.min.css' %}">
        <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script src="../public/js/styleguide.js"></script>
    </head>
    <body class="cui">
        <nav class="header" id="styleguideheader" role="navigation">
            <div class="container-fluid">
                <div class="header-panels">
                    <div class="header-panel hidden-md-down">
                        <img src="{% static 'image/Cisco.png' %}" width="75" height="160">
                    </div>
                    <div tabindex="0" class="hidden-md-down" style="max-width:100%; margin:10%;">
                        <h1 class="header__title">
                            <span>NSO Sky</span>
                        </h1>
                    </div>
                    <div class="header-panel header-panel--right hidden-md-down">
                        <a href="{% url 'home_task' %}" class="header-item" >
                            <img src="{% static 'image/home.png' %}" width="35" height="70">
                        </a>
                        <a href="{% url 'login_des' %}" class="header-item">Login</a>
                        <a href="{% url 'register_des' %}" class="header-item">Sign Up</a>
                    </div>
                </div>
            </div>
        </nav>
                <footer class="footer">
                    <div class="footer__links">
                        <ul class="list list--inline">
                            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                        </ul>
                    </div>
                </footer>

    </body>
</html>
